@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

$crimson: crimson; 
$white: #fff;
$black:#040404; 
$light-bg: #1a1a1a;
$light-color: #aaa; 
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;    
}


html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $black;
    }
    &::-webkit-scrollbar-thumb{
        background: $crimson;
        border-radius: 5rem;
    }
}


body{
    background: $black;
    padding-bottom: 6.5rem;    
}

section{
    width: 100vw;
    height: 90vh;
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 5vw;
    color: $white;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.heading span{
    text-transform: uppercase;
    color: $crimson;
}

.btn{
    display: inline;
    margin-top: 1rem;
    border-radius: 5rem;
    background: $crimson;
    padding: .7rem;
    font-size: 1.7rem;
    color: $white;
    padding-left: 2rem;

    i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.7rem;
    text-align: center;
    background: $white;
    color: $crimson;
    border-radius: 50%;
    margin-left: 1rem;
    transition: .2s linear;
    }
    &:hover i{
        margin-left: 2rem;
    }
}

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-end;

     a{
        padding: 2rem;
        font-size: 2rem;
        background: $light-bg;
        flex: 1;
        color: $white;
        text-align: center;
        transition: .2s linear;
    

     i{
        color: $crimson;
        padding-right: .5rem;
    }

    &:hover{
        background: $crimson;
        padding-bottom: 4rem;

        i{
            color: $white;}
    
        }
    }
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:4rem;
    min-height: calc(100vh - 6.5rem);
    
}
.imagem{
    flex: 1 1 32rem;
    text-align: center;


    img{height: 38rem;
        width: 33rem;
        border-radius: 168px / 15% 15% 66% 66%;
    }
}

 .content{
    flex: 1 1 66rem;

    h3 {
        color: $white;
        font-size: 5rem;
        padding-bottom: .5rem;
    }
    span{
        font-size: 2.5rem;
        color: $crimson;
        padding: .5rem 0;
        display: block;
    }
    p{
        font-size: 1.5rem;
        color: $light-color;
        padding: 1rem 0;
        line-height: 2;

    }
}

.about{
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:2rem;
    }
    .info-container{
        flex: 1 1 42rem;

        h1{
            font-size: 3rem;
            color: $white;
            text-transform: uppercase;
            padding-bottom: 1rem;
        }
        .box-container{
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap:2rem;
        }
        .box{
            flex: 1 1 20rem;

            h3{
                font-size: 1.7rem;
                color: $white;
                padding: 1rem 0;
                font-weight: normal;
                text-transform: none;
            }
            span{
                color: $light-color;
                font-weight:normal;
            }
        }

    }
    .count-container{
        flex: 1 1 42rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2;

        .box{
            padding: 3rem 4rem;
            border-radius: .5rem;
            background: $light-bg;
            box-shadow: $box-shadow;

            h3{
                font-size: 5rem;
                color: $crimson;
            }
            p{
                font-size: 2rem;
                color: $light-color;
            }
        }
    }
}
.skills{
    .section{
            padding: 8rem 9%;
    }

    .box-container{
        @include grid(16rem);

        .box{
        padding: 2rem;
        text-align: center;
        box-shadow: $box-shadow;
        border-radius: .5rem;
        background: $light-bg;

        &:hover{
            background: $white;

            h3{
                color: $black;
            }
        }

        img{
            height: 7rem;
            margin-bottom: 1rem;
        }

        h3{
        color: $white;
        font-size: 1.7rem;
        font-weight: normal;
        }
        }
    }
}

.education{
    .box-container{
        display: flex;
        flex-wrap: wrap;
        
        .box{
            flex: 1 1 40rem;
            margin-left: 2rem;
            padding: 2rem;
            padding-left: 3.5rem;
            padding-bottom: 2rem;
            border-left: .1rem solid $light-color;
            position: relative;

            i{
                height: 4.5rem;
                width: 4.5rem;
                line-height: 4.5rem;
                font-size: 1.7rem;
                border-radius: 50%;
                background: $crimson;
                color: $white;
                text-align: center;
                position: absolute;
                top: 0;
                left: -2.5rem;
            }

            span{
                font-size: 1.7rem;
                color: $white;
                border-radius: 5rem;
                padding: .5rem 1.5rem;
                background: $light-bg;
            }

            h3{
                font-size: 2rem;
                padding: 1rem 0;
                color: $white;
            }

            p{
                font-size: 1.5rem;
                color: $light-color;
                line-height: 2;
            }
        }
    }
}
.portfolio{

    .container{
        @include grid(30rem);
        margin-bottom: 2rem;
        gap: 4rem 2rem;

        .box{
            width: 28rem;
            height: 20rem;
            overflow: hidden;
            position: relative;
            border-radius: 10px;

            &:hover{
                 .content{
                transform: translateY(0);
            }
        }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .content{
                position: absolute;
                top:0;
                left: 0;
                height: 100%;
                width: 100%;
                background: $light-bg;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                transform: translateY(100%);
                transition: .5s linear;

                h3{
                    font-size: 2.5rem;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: normal;
                }

                p{
                    padding: 1rem 0;
                    font-size: 2rem;
                    line-height: 2;
                    color: $light-color;
                }

                a{
                    font-size: 1.8rem;
                    color: $crimson;
                    text-transform: none;

                    &:hover{
                        color: $white;
                    }
                }
                       
            }
        }
    }
}
.contact{

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2;


    .info-container{
        width: 60%;

    h1{
        font-size: 3rem;
        text-transform: uppercase;
        color: $white;
        padding-bottom: 1rem;
    }

    p{
        font-size: 1.8rem;
        text-transform: none;
        line-height: 2;
        color: $light-color;
        padding: 1rem 0;
    }
    .box-container{
        padding: 1rem 0;

        .box{
            display: flex;
            gap: 2;

            .info{
                padding: 1rem;
            }
            

            i{
                font-size: 4rem;
                color: $crimson;
                padding-top: 1rem;
            }
            
            h3{
                font-size: 2rem;
                color: $white;
            }
        }
    }
} 
    .share{
        width: 26rem;
       

        a{
        font-size: 3rem;
        height: 5.5rem;
        width: 5.5rem;
        line-height: 5.5rem;
        border-radius: 50%;
        background: $crimson;
        text-align: center;
        color: $white;
        margin-right: 1.3rem;

            &:hover{
                color: $crimson;
                background: $white;
            }
        }
    } 
   
}
}

.dev{

    h5{
        text-align: center;
        color: #aaa;
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: none;
        padding-top: 4rem;
}
}

/*media query*/

@media  (max-width:1200px){

    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    
}

@media  (max-width:820px){

    .contact .row .info-container h1{
        font-size: 2rem;
        text-align: center;
    }
    .about .info-container h1 {
        font-size: 2rem;
        text-align: center;
    }

    .heading{   
        font-size: 8vw;
    }

    .navbar{

    a{
        i{padding: 0;
        }

        span{
            display: none;
        }

        &:hover{
            padding-bottom: 2rem;
        }
    }
    }
    .home{
        text-align: center;
        gap:2rem;

        .imagem img{
            height: 30rem;
            width: 30rem;
    }
    .content{

        h3{
            font-size: 3rem;
        }
        span{
            font-size: 2.5rem;
        }
    }
}
}

@media  (max-width:550px){

     .heading{   
        font-size: 6vw;
    }
    
    
    .navbar{

    
        i{
            padding-right: 1rem;}

        }
        .home{
            text-align: center;
    
            .imagem img{
                height: 20rem;
                width: 20rem;
        }
        .content{
    
            h3{
                font-size: 2rem;
            }

            span{
                font-size: 1.5rem;
            }
        }
    }

    .contact{

        .row{
            flex-direction: column;
            flex-wrap:wrap;}
        }
          
    

}